@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
padding: 0;
margin: 0;
font-family: "Public Sans", sans-serif;
box-sizing: border-box;
}
body{
width: 100%;
height: 100%;
background-color: hsl(220, 16%, 96%);
}
/* Header CSS */
header{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 100;
}
nav{
width: 100%;
height: 100%;
background-color: white;
display: flex;
align-items: center;
justify-content: space-around;
position: relative;
}
.navLinks{
height: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
list-style-type: none;
}
.navLinks li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLinks li a{
    text-decoration: none;
   color: hsl(233, 8%, 62%);
}
.navLinks li:hover{
border-bottom: 3px solid hsl(136, 64%, 51%);
}
.requestBtn{
    padding: 10px 20px;
    background-color:hsl(136, 64%, 51%);
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
/* Main CSS */
main{
width: 100%;
height: auto;
}
/* Home section CSS */
.Home{
width: 100%;
height: 700px;
display: flex;
align-items: center;
justify-content: center;
background-color: #F9F9F8;
}
.HomeText{
width: 40%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.homeTextContainer{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.homeTextContainer h1{
    font-weight: 300;
    font-size: 40px;
    color: hsl(233, 26%, 24%);
}
.homeTextContainer p{
    color: hsl(233, 8%, 62%);
}
.imgContainer{
width: 60%;
height: 100%;
background-image: url(images/bg-intro-desktop.svg);
background-size: cover;
position: relative;
}
.mockup{
width :80%;
height: 110%;
position: absolute;
right: 0;
}
/* About Section CSS */
.about{
width: 100%;
height: auto;
padding: 50px ;
color: hsl(233, 26%, 24%);
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 50px;
}
.about h1{
    font-weight: 300;
}
.about p{
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}
.carts{
width: 90%;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
margin: 0 auto;
}
.cart{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 30px;
}
.cart h2{
 font-weight: 300;
}
.cart p{
    font-weight: 300;
}
/* Articles */
.articles{
width: 100%;
height: auto;
background-color: #F9F9F8;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 40px;
padding: 50px 20px;
}
.articles h2{
    font-weight: 300;
    font-size: 30px;
    color: hsl(233, 26%, 24%);
}
.articleContainer{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.articleContainer .item{
width: 250px;
border-radius: 10px;
overflow: hidden;
background-color: white;
}
.articleContainer .item .item-text{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.author{
    font-size: 12px;
    color: hsl(233, 8%, 62%);
}
.title{
    font-weight: 300;
}
.articleText{
    color: hsl(233, 8%, 62%);
    font-weight: 300;
}
.articleContainer .item img{
width: 100%;
}
/* Footer CSS */
footer{
width: 100%;
min-height: 150px;
background-color: hsl(233, 26%, 24%);
display: flex;
align-items: center;
justify-content: space-around;
color: white;
padding: 20px;
flex-wrap: wrap;
}
.logoF{
    filter: invert(1) brightness(2);
}
.webLinks{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.firstList ,.secondList{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}
.socialLinks{
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
gap: 40px;
}
.socialIcons{
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.footer-actions{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}
.footer-actions p{
    color: hsl(233, 8%, 62%);
}
.hidden{
    display: none !important;
}
.menu-links{
    width: 90%;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 0;
    transform: translateY(40%);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1); 
}
.menu-list{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
list-style-type: none;
gap: 20px;
padding: 20px;

}
.menu-list a{
    text-decoration: none;
    color: hsl(233, 26%, 24%);
}
@media (max-width : 700px) {
    .Home{
     width: 100%;
     flex-direction: column-reverse;
     height: auto;
    }
    .HomeText{
        width: 100%;
        padding: 20px;
    }
    .homeTextContainer{
        width: 100%;
        align-items: center;
        padding: 20px;
        text-align: center;
    }
    .homeTextContainer h1{
        font-size: 30px;
    }
    .homeTextContainer p{
        font-size: 15px;
    }
    .mockup{
        width: 100%;
    }
    .imgContainer{
        width: 100%;
        height: 450px;
        background-image: url("images/bg-intro-mobile.svg");
        background-position: center;
        background-size: cover;
    }
    .about{
        width: 100%;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 30px;
    }
    .about h1{
        text-align: center;
    }
    .about p{
        width: 100%;
    }.carts{
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .cart{
        align-items: center;
        justify-content: center;
    }
   .navLinks{
        display: none;
    }
    .headerBtn{
        display: none;
    }   
    .footer-actions{
        align-items: center;
    } 
    .webLinks{
        margin: 20px 0px;
    }
}

@media (max-width : 375px) {
    body {
        width: 100vw;
        height: auto;
    }
    main{
        width: 100vw;
        height: auto;
    }
    header{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    .navLinks{
        display: none;
    }
    .headerBtn{
        display: none;
    }
    .Home{
     width: 100%;
     flex-direction: column-reverse;
     height: auto;
    }
    .HomeText{
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .homeTextContainer{
        width: 100%;
        align-items: center;
        padding: 20px;
        text-align: center;
        height: auto;
    }
    .homeTextContainer h1{
        font-size: 30px;
    }
    .homeTextContainer p{
        font-size: 15px;
        height: auto;
        width: 100%;
        white-space: normal;
        overflow-wrap: break-word;
        word-break: break-word;  
        flex-shrink: 1; 
        
    }
    .imgContainer{
        width: 100%;
        height: 350px;
        background-image: url("images/bg-intro-mobile.svg");
        background-position: center;
        background-size: cover;
    }
    .mockup{
       width: 100%; 
    }
    .about{
        width: 100%;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 30px;
    }
    .about h1{
        text-align: center;
    }
    .about p{
        width: 100%;
    }
    .carts{
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 30px;
    }
    .cart{
        width: 90%;
        align-items: center;
        text-align: center;
    }
    .cart p{
        white-space: normal;
        overflow-wrap: break-word;
        word-break: break-word;
        flex-shrink: 1;
    }
    .articles{
        height: auto;
        padding: 30px 0px;
    }
    .articleContainer{
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .articleContainer .item{
        width: 90%;
    }
    footer{
        flex-direction: column;
        height: auto;
        padding: 30px 0px;
        gap:30px
    }
    .socialLinks{
        gap: 30px;
    }
    .firstList ,.secondList{
        gap: 10px;
        align-items: center;
    }
    .webLinks{
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .footer-actions{
        align-items: center;
    }
    
}